/* common for all blog-details page */

#main .back-link{
    float: right;
    margin-top: 10px;
    padding-top: 2rem;
    
}

#main > .post header.major > h1, #main > .post header.major h2{
    color:#004830;
}

#main > .post header.major > h2, #main > .post header.major h2 {
    color: #4A5D23;
}

#header .logo:hover {
    border-color: #fff !important;
    color: #fff !important;
}

/*#footer .send-mail{
    padding-left: 150px;

}

#footer .mail-image{
    padding-left: 25px;

}*/

#footer{
    justify-content: center;
}

.fot-link{
    padding-top: 2rem;
}

.bold-content{
    text-align: justify;
    text-justify: inter-word;
    font-weight: bold;
}